<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Resource.Error</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Resource.Error.</h1>
        <h2>@Resources.Resource.ErrorMessage.</h2>
    </hgroup>
</body>
</html>
