@{
    ViewBag.Title = Resources.Resource.IndexHeaderHomePage;
}

<div class="carousel">
    @Html.Partial("CarouselPartial")
</div>

<div class="jumbotron">
    <h1>@Resources.Resource.AppTitle</h1>
</div>

<div class="row">

</div>

    

